.container {
  padding: 0 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
